/.tool-versions
/.ruby-version
/.ruby-gemset

/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/rethinkdb_data

*.gem

# rspec failure tracking
.rspec_status
.byebug_history
