# Targets the evergreen latest release of ruby, truffleruby, and jruby
name: Current

permissions:
  contents: read

env:
  K_SOUP_COV_DO: false

on:
  push:
    branches:
      - 'main'
    tags:
      - '!*' # Do not execute on tags
  pull_request:
    branches:
      - '*'
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Specs ${{ matrix.ruby }}@${{ matrix.appraisal }}
    if: "!contains(github.event.commits[0].message, '[ci skip]') && !contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental || endsWith(matrix.ruby, 'head') }}
    env: # $BUNDLE_GEMFILE must be set at job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/${{ matrix.gemfile }}.gemfile
    strategy:
      matrix:
        include:
          # Ruby 3.4
          - ruby: "3.4"
            appraisal: "ar-7-2"
            exec_cmd: "rake spec:orm:active_record"
            gemfile: "Appraisal.root"
            rubygems: latest
            bundler: latest
          - ruby: "3.4"
            appraisal: "ar-8-0"
            exec_cmd: "rake spec:orm:active_record"
            gemfile: "Appraisal.root"
            rubygems: latest
            bundler: latest
          - ruby: "3.4"
            appraisal: "mongoid-9.0-r3"
            exec_cmd: "rake spec:orm:mongoid"
            gemfile: "Appraisal.root"
            rubygems: latest
            bundler: latest
          - ruby: "3.4"
            appraisal: "sequel-5.86-r3"
            exec_cmd: "rake spec:orm:sequel"
            gemfile: "Appraisal.root"
            rubygems: latest
            bundler: latest

#          # truffleruby-24.1
#          - ruby: "truffleruby"
#            appraisal: "ar-8-0"
#            exec_cmd: "rake spec:orm:active_record"
#            gemfile: "Appraisal.root"
#            rubygems: default
#            bundler: default

          # jruby-10.0 (targets Ruby 3.4 compatibility)
          - ruby: "jruby"
            appraisal: "ar-7-1-r3"
            exec_cmd: "rake spec:orm:active_record"
            gemfile: "Appraisal.root"
            rubygems: default
            bundler: default

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby & RubyGems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: ${{ matrix.rubygems }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: false

      # Raw `bundle` will use the BUNDLE_GEMFILE set to matrix.gemfile (i.e. Appraisal.root)
      # We need to do this first to get appraisal installed.
      # NOTE: This does not use the main Gemfile at all.
      - name: Install Root Appraisal
        run: bundle
      - name: Appraisal for ${{ matrix.ruby }}@${{ matrix.appraisal }}
        run: bundle exec appraisal ${{ matrix.appraisal }} bundle
      - name: Tests for ${{ matrix.ruby }}@${{ matrix.appraisal }} via ${{ matrix.exec_cmd }}
        run: bundle exec appraisal ${{ matrix.appraisal }} bundle exec ${{ matrix.exec_cmd }}
